<main>
    <section class="container">
        <figure class="container-img">
            <img src="./../../../../assets/image/computer-black.jpg" alt="">
        </figure>
    </section>
    <section class="container-post">
        <h3>Noticias</h3>
        <div class="container-post-text">
            <h1>Título del Blogpost</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem veritatis voluptatibus dolores magnam
                quisquam quae vero distinctio at suscipit deserunt. Vero, ratione. Accusantium error explicabo quis
                adipisci commodi, dolores minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex enim
                reprehenderit nam voluptatum perferendis nemo? Veritatis exercitationem voluptatum corrupti quisquam,
                qui minima aperiam beatae nihil ipsum soluta dicta temporibus facere! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Accusamus, vero. Alias autem saepe nisi consequatur quos quibusdam magni suscipit laboriosam facere et, distinctio
                delectus dolorem aut quidem, incidunt ab. Mollitia!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem veritatis voluptatibus dolores magnam
                quisquam quae vero distinctio at suscipit deserunt. Vero, ratione. Accusantium error explicabo quis
                adipisci commodi, dolores minus?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem veritatis voluptatibus dolores magnam
                quisquam quae vero distinctio at suscipit deserunt. Vero, ratione. Accusantium error explicabo quis
                adipisci commodi, dolores minus?</p>
        </div>
    </section>
</main>