.container{
    max-width: 1024px;
    margin: 0 auto;
}

.container-img{
    width: 100%;
    margin: 0;
}

.container-img img {
    width: 100%;
}

.container-post {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto Mono',monospace;
}

.container-post h3 {
    font-size: 20px;
    border-bottom: 1px solid #656d78;
    margin: 40px 0 20px 0;
}

.container-post h1 {
    font-size: 35px;
    font-weight: bold;
}

.container-post p{
    line-height: 30px;
}



