<main>
    <section class="contaier">
        <div class="container-general">
            <div class="container-left">
                <h3>Noticias</h3>
                <div class="container-image">
                    <img src="./../../../../assets/image/computer-black.jpg" alt="">
                </div>
            </div>
            <div class="container-right">
                <div class="container-text">
                    <h2>Título <br> del Blogspot</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus necessitatibus dolor
                        dolorum accusantium aspernatur ad, dolore delectus dolores tempore voluptatibus eum blanditiis
                        deleniti molestiae eius porro, obcaecati accusamus illo!</p>
                    <a routerLink="/blog">Leer más</a>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-container">
        <h3>Últimos Blogspots</h3>
        <div>
            <article class="post-container">
                <img src="./../../../../assets/image/uriel-soberanes-MxVkWPiJALs-unsplash-2.png" alt="">
                <p class="post-title">Título del Blogspot</p>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus necessitatibus dolor
                        dolorum accusantium aspernatur ad</p>
                <a routerLink="/blog">ancla</a>
            </article>
            <article class="post-container">
                <img src="./../../../../assets/image/glenn-carstens-peters-npxXWgQ33ZQ-unsplash-2.png" alt="">
                <p class="post-title">Título del Blogspot</p>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus necessitatibus dolor
                        dolorum accusantium aspernatur ad</p>
                <a routerLink="/blog">ancla</a>
            </article>

            <article class="post-container">
                <img src="./../../../../assets/image/dose-media-DiTiYQx0mh4-unsplash-2.png" alt="">
                <p class="post-title">Título del Blogspot</p>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus necessitatibus dolor
                        dolorum accusantium aspernatur ad</p>
                <a routerLink="/blog">ancla</a>
            </article>
            <article class="post-container">
                <img src="./../../../../assets/image/corinne-kutz-tMI2_-r5Nfo-unsplash-2.png" alt="">
                <p class="post-title">Título del Blogspot</p>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus necessitatibus dolor
                        dolorum accusantium aspernatur ad</p>
                <a routerLink="/blog">ancla</a>
            </article>
            <article class="post-container">
                <img src="./../../../../assets/image/alexandru-acea-XEB8y0nRRP4-unsplash-2.png" alt="">
                <p class="post-title">Título del Blogspot</p>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus necessitatibus dolor
                        dolorum accusantium aspernatur ad</p>
                <a routerLink="/blog">ancla</a>
            </article>
            <article class="post-container">
                <img src="./../../../../assets/image/computer-black.jpg" alt="">
                <p class="post-title">Título del Blogspot</p>
                <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus necessitatibus dolor
                        dolorum accusantium aspernatur ad</p>
                <a routerLink="/blog">ancla</a>
            </article>
        </div>
    </section>
</main>